/* Header.css */

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 25vh;
    margin-top: 0;
    margin-bottom: 3rem;
    
  }
  
  .header-pic {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    object-fit: cover;
    margin-right: 4rem;
    
  }
 
  @media (max-width: 500px) {
    .header-wrapper{
      flex-direction: column;
      width: 80vw;
    }
    .logoName{
      width: 100%;
    }
    .header-pic{
     display: none;
    }

    
  }
  
  