.cards-grid {
    margin-top: 3rem;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  .card-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff1f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .card-main:hover {
    transform: translateY(-3px);
    background-color: #e6eef3;
  }
  
  .card-title {
    color: #666f9a;
    font-size: 20px;
    margin-bottom: 10px;
  }
  